body{
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #f2f2f2;
}

#app{
    height: 100%;
}

.login-form{
    height: 100%;
}

#cy {
    height: 80vh;
    background: #ecf0f1;
}

.pitfall{
    height: 10vh;
}

.card{
    height: 80vh;
}