#info{
    height: 90%;
    width: 20%;
    background-color: darkslategrey;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 0;
    top:64px;
}

#predicate {
    font-size:12px;
    font-family: "Roboto Light", serif;
}